$baseGrey: #f2f2f2 !default;
$urlColor: #1973ba !default;
$warningMagenta: #ff003f !default;
$warningYellow: #ffe4ad !default;
$baseFontColor: #222 !default;
$successGreen: #98ff00 !default;
$exampleGrey: $baseGrey !default;
$infoBlue:#A8E4FE !default;
$headerColor: #1f3546 !default;

$baseFontColor: #222 !default;

$primaryColor: rgb(24,150,211);
