@import 'core/colors';
@import 'core/mixins';
@import 'core/font-awesome.min';
@import 'core/googlefonts-source';

@import 'core/core';
@import 'core/sidebar';
@import 'core/footer';
@import 'core/search';

@import 'core/headings';
@import 'core/codeSnippets';
@import 'core/admonitions';
@import 'core/images';
@import 'core/references';
@import 'core/tablestyles';

.content {
  & ul.last {
    margin-bottom:0.5em;
  }
  & ul.first {
  margin-top:0.5em;
  }
  .contents.local.topic {
    margin-bottom:0.5em;
    &>ul {
      margin-top:0;
    }
  }
}
